<launch>

  <arg name="INPUT_CLOUD" default="/camera/depth_registered/points" />

  <arg name="fixed_frame" value="footprint" />

  <arg name="MANAGER" value="spam_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <node name="static_tf_publisher"
        pkg="tf" type="static_transform_publisher"
        args="0 0 1 0 0.53 0 footprint camera_link 100" />

  <node name="passthrough_filter_z"
        pkg="nodelet" type="nodelet"
        args="load pcl/PassThrough $(arg MANAGER)">
    <remap from="~input" to="$(arg INPUT_CLOUD)" />
    <remap from="~output" to="~points" />
    <param name="input_frame" value="$(arg fixed_frame)" />
    <rosparam>
      filter_field_name: x
      filter_limit_min: 0
      filter_limit_max: 0.9
      keep_organized: true
    </rosparam>
  </node>

  <node name="multiplane_segmentation"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/OrganizedMultiPlaneSegmentation $(arg MANAGER)">
    <remap from="~input" to="passthrough_filter_z/points" />
    <rosparam>
      max_curvature: 0.01
      estimate_normal: true
      min_refined_area_threshold: 0.1
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="euclidean_clustering"
        args="load jsk_pcl/EuclideanClustering /$(arg MANAGER)" output="screen">
    <remap from="~input" to="plane_extraction/output" />
    <rosparam>
      tolerance: 0.02
      min_size: 1000
    </rosparam>
  </node>

  <node name="cpi_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="passthrough_filter_z/points" />
    <remap from="~target" to="multiplane_segmentation/output_refined" />
  </node>
  <node name="extract_indices"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ExtractIndices $(arg MANAGER)">
    <remap from="~input" to="passthrough_filter_z/points" />
    <remap from="~indices" to="cpi_decomposer/negative_indices" />
  </node>
  <!--
  <node name="euclidean_clustering"
        pkg="nodelet" type="nodelet"
        args="standalone jsk_pcl/EuclideanClustering">
    <remap from="~input" to="extract_indices/output" />
  </node>
  -->

  <node name="plane_extraction"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/MultiPlaneExtraction $(arg MANAGER)">
    <remap from="~input" to="extract_indices/output" />
    <remap from="~indices" to="multiplane_segmentation/output_refined" />
    <remap from="~input_polygons" to="multiplane_segmentation/output_refined_polygon" />
    <remap from="~input_coefficients" to="multiplane_segmentation/output_refined_coefficients" />
  </node>
  <node pkg="nodelet" type="nodelet"
        name="cluster_decomposer_final"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="plane_extraction/output" />
    <remap from="~target" to="euclidean_clustering/output" />
    <remap from="~align_planes" to="multiplane_segmentation/output_refined_polygon" />
    <remap from="~align_planes_coefficients" to="multiplane_segmentation/output_refined_coefficients" />
    <rosparam>
      align_boxes: true
      use_pca: true
      publish_clouds: false
      publish_tf: false
    </rosparam>
  </node>

  <!--
  <node name="object_cpi_decomposer"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/ClusterPointIndicesDecomposer $(arg MANAGER)">
    <remap from="~input" to="extract_indices/output" />
    <remap from="~target" to="euclidean_clustering/output" />
  </node>
  -->

  <node name="rviz"
        pkg="rviz" type="rviz"
        args="-d $(find kinect_tabletop_clatter_environment)/rvizconfig/default.rviz">
  </node>

</launch>